/* Styles de base communs à tous les appareils */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2{
    margin-top: 30%;
}

.formulaire{
    margin-bottom: 5%;
}
section {
    display: flex;
    height: 100%;
    width: 100%;
}

section .img {
    margin-top: 1%;
    left: 0;
    width: 100%;
    height:100vh;
    background: url('form2.png');
    background-position: center;
    background-size: cover;
}

section .contenu {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    background-color: rgb(34, 25, 25);
}

section .contenu .formulaire h2 {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
}

label {
    color: rgb(209, 169, 126);
    font-size: 14px;
    font-weight: bold;
}

.input {
    margin-bottom: 20px;
}

input::placeholder {
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.input input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(209, 169, 126);
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #607d8b;
    outline: none;
    background-color: transparent;
}

.input input[type="submit"] {
    margin-bottom: 10%;
    padding: 5px 5px;
    width: 150px;
    background-color: #FA1;
    color: white;
    outline: none;
    border: 0;
    font-weight: 600;
    cursor: pointer;
}


div .remember {
    color: #fff;
    margin-bottom: 10px;
}

div .input p {
    color: rgba(255, 172, 17, 0.76);
    font-size: 10px;
}

.container {
    display: flex;
}

div.input h4{
    color:rgba(255,172,17,0.76);
    margin-bottom: 30%;
    font-size: 14px;
}

.circle {
    width: 30px;
    color: rgb(34, 25, 25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleparent {
    position: relative;
}

.circleparent .text {
    position: absolute;
    top: 50%;
    left: calc(100% - 50%);
    /* Pour Placer le texte à droite du cercle spécial */
    transform: translateY(-100%);
    /* Pour Centrer verticalement */
    color: rgb(34, 25, 25);
    font-size: 14px;
    font-weight: bold;
}

.circle.special {
    border-radius: 90%;
    /* Pour changer le border-radius du cercle spécial */
    background-color: rgb(34, 25, 25);
    /* Pour changer la couleur de fond du cercle spécial */
    color: #fff;
}

.circleparent button {
    border-radius: 300px;
    width: 100%;
    background-color: rgba(255, 172, 17, 0.76);
}
html,
body {
    overflow-x: hidden; 
    overflow-y: hidden; 
}

@media screen and (max-width:600px){
    section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    section .contenu .formulaire h2 {
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
    }
    

    section .img {
        margin-top: 1%;
        left: 0;
        width: 100%;
        height:20vh;
        background: url('form2.png');
        background-position: center;
        background-size: cover;
    }
    
    section .contenu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80vh;
        background-color: rgb(34, 25, 25);
    }

    .formulaire{
        height: 150%;
        padding-top: 0%;
        overflow-x: hidden; 
        overflow-y: hidden; 
    }


    label {
        color: rgb(209, 169, 126);
        font-size: 10px;
        font-weight: bold;
    }
    
    .input {
        margin-bottom: 5px;
    }
    
    input::placeholder {
        color: white;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .input input {
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(209, 169, 126);
        width: 100%;
        padding: 10px 20px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #607d8b;
        outline: none;
        background-color: transparent;
    }
    
    .input input[type="submit"] {
        margin-bottom: 1%;
        padding: 2px 2px;
        width: 90px;
        background-color: #FA1;
        color: white;
        outline: none;
        border: 0;
        font-weight: 600;
        cursor: pointer;
    }
    
    
    div .remember {
        color: #fff;
        margin-top: 18%;
        font-size: 14px;
    }
    
    div .input p {
        color: rgba(255, 172, 17, 0.76);
        font-size: 1px;
    }
    
    .container {
        display: flex;
    }
    
    div.input h4{
        color:rgba(255,172,17,0.76);
        margin-bottom:0;
        font-size: 10px;
    }
    
    .circle {
        width: 20px;
        color: rgb(34, 25, 25);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 10px;
        height: 18px;
        background-color: #fff;
        border-radius: 50%;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .circleparent {
        position: relative;
    }
    
    .circleparent .text {
        position: absolute;
        top: 50%;
        left: calc(100% - 50%);
        /* Pour Placer le texte à droite du cercle spécial */
        transform: translateY(-110%);
        /* Pour Centrer verticalement */
        color: rgb(34, 25, 25);
        font-size: 10px;
        font-weight: bold;
    }
    
    .circle.special {
        border-radius: 90%;
        /* Pour changer le border-radius du cercle spécial */
        background-color: rgb(34, 25, 25);
        /* Pour changer la couleur de fond du cercle spécial */
        color: white;
    }
    
    .circleparent button {
        border-radius: 30px;
        width: 100%;
        background-color: rgba(255, 172, 17, 0.76);
    }
    html,
    body {
        overflow-x: hidden; 
        overflow-y: hidden; 
    }

    form{
      /* background-color: red; */
      margin-top: 19%;
    }
    
    
}
